  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div class="error-text">Sorry your request couldn't be processed because</div>
            <br>
            <div class="error-text">{{ message }}</div>
            <img class="resize-error-image" src="img/errorImage.jpg" alt="">
        </div>
    </div>
</header>