  
  <!-- Search Bar -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div id="cover">
                <form method="POST" action="/companyPage" name=>
                    <div class="tb">
                        <div class="td"><input type="text" placeholder="Search" name="searchQuery" autocomplete="off" required></div>
                        <div class="td" id="s-cover">
                            <button type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Contact Section -->
{{!-- <section class="contact-section bg-black">
<div class="container">

    <div class="row">

    <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
        <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4">
            <div class="small text-black-50">4923 Market Street, Orlando FL</div>
        </div>
        </div>
    </div>

    <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
        <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
            <a href="#">hello@yourdomain.com</a>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
        <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">+1 (555) 902-8832</div>
        </div>
        </div>
    </div>
    </div>

    <div class="social d-flex justify-content-center">
    <a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="mx-2">
        <i class="fab fa-github"></i>
    </a>
    </div>

</div>
</section> --}}

<section id="about" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            {{!-- <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
            </div> --}}
            <div class="col-xl-11 col-lg-11">
                <div class="featured-text text-center text-lg-left">
                    <h4>What is this?</h4>
                    <p class="text-black-50 mb-0">This engine analyzes and scores privacy policies of companies.
                    Provide the company's name in the search field and find interesting information about their policies. 
                    This project is mearly for educational purposes. We do not claim that any results are accurate;
                     they are subjective. </p>
                </div>
            </div>
        </div>
    </div>
</section>